@page "/blog"
@using PRIORI_SERVICES_WEB.Handler

<NavMenu nav_classes="sticky-top" />

<style>
    body {
        @BackgroundGradients.BackgroundPrincipal
    }
</style>

<nav class="container-fluid">
    <ul class="pagination">
        <button class="btn btn-primary mr-3" on:click={reset_categorias}> Limpar </button>
        @foreach (CategoriaBlog item in PageBlogCategoria)
        {
            <li class="page-item">
                <button class="page-link" aria-label="">@item.nome_categoria</button>
            </li>
        }
    </ul>
</nav>

<div class="my-5 container-sm text-center">
    <div class="d-flex flex-row flex-wrap">
        @foreach (var item in PageBlogPosts)
        {
            <div class="card px-3 py-4 m-1 bg-light border rounded-4">
                <p @onclick="@(() => InitPostViewer(item, GetCategoriaBlogFromID(item.id_categoria)))" class="text-dark text-decoration-none">
                    <h3 class="fs-4">@item.titulo</h3>
                    <p class="fw-italic">@item.descricao</p>
                    <span class="badge bg-primary rounded-pill">@item.data_criacao</span>

                    <span
                        class="badge bg-primary rounded-pill">@GetCategoriaBlogFromID(@item.id_categoria).nome_categoria</span>
                </p>
            </div>
        }
    </div>
</div>

@code {
    public PostBlog[] PageBlogPosts = new PostBlog[0];

    public CategoriaBlog[] PageBlogCategoria = new CategoriaBlog[0];

    [CascadingParameter] public IModalService Modal_Viewer { get; set; } = default!;

    public void InitPostViewer(PostBlog post_obj, CategoriaBlog categoria_obj) {
        var param = new ModalParameters();
        param.Add(nameof(PostViewer.PostMain), post_obj);
        param.Add(nameof(PostViewer.CategoriaMain), categoria_obj);
        Modal_Viewer.Show<PostViewer>(post_obj.titulo!, param);
    }

    public CategoriaBlog GetCategoriaBlogFromID(int id)
    {
        foreach (var categoria in PageBlogCategoria)
        {
            if (categoria.id_categoria == id)
            {
                return categoria;
            }
        }
        return new CategoriaBlog
            {
                nome_categoria = "Falha ao encontrar categoria"
            };
    }

    protected override async Task OnInitializedAsync()
    {
        PageBlogPosts = await APIHandler.FetchOrFallbackAsync<PostBlog[]>(
        "/Blog/Posts",
        new PostBlog[] { new PostBlog { titulo = "Falha ao encontrar posts" } }
        );

        PageBlogCategoria = await APIHandler.FetchOrFallbackAsync<CategoriaBlog[]>(
        "/Blog/Categorias",
        new CategoriaBlog[]{
new CategoriaBlog {
id_categoria = 999,
nome_categoria = "Falha ao encontrar categoria"
}
        });
    }
}
