@page "/contratacao"

@using PRIORI_SERVICES_WEB.Data.Model;
@using PRIORI_SERVICES_WEB.Handler;
@using ChartJs.Blazor.LineChart;
@inject IJSRuntime JSInterop
@inject IToastService Toast
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<NavMenu nav_classes="sticky-top" />

<style>
    html,
    body {
        background-image: linear-gradient(75deg, rgb(211, 35, 218), rgb(114, 0, 167));
    }
    .margin-simulador{
        margin-left: 25rem;
        margin-right: 25rem;
    }
</style>

    <div class="rounded-3 mx-5">
        
        <p class="fonte-nav-lista text-light fonte-titulo fs-4 p-1 my-5" style="text-align: center;">SIMULAÇÃO</p>
            
            <div class="card-body shadow-lg margin-simulador rounded-4 bg-light" style="text-align: center;">

                    <div class="card-header d-flex flex-row bd-highlight text-dark mx-5 pt-3 justify-content-center">
                     @switch (contratacao.id_riscoInvestimento)
                        {
                            case 1:
                                <div class="bg-success risco rounded-4 me-2">
                                    &ensp;
                                </div>
                                break;
                            case 2:
                                <div class="bg-warning risco rounded-4 me-2">
                                    &ensp;
                                </div>
                                break;
                            case 3:
                                <div class="bg-danger risco rounded-4 me-2">
                                    &ensp;
                                </div>
                                break;
                        }
                    
                    <div class="bd-highlight">
                        <h4 class="p-1" style="text-align: center;">@contratacao.nome</h4>
                    </div>
                    </div>
                        @switch (contratacao.id_riscoInvestimento)
                            {
                                case 1:
                                    @switch (contratacao.tipo_investimento)
                                    {
                                        case "SELIC":
                                        <ul style="list-style-type: none;">
                                            <div class="d-flex flex-row container-fluid my-3">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Investimento Minimo:⠀⠀⠀⠀</b></li></div>
                                                <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @contratacao.valor_minimo</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.vencimento.ToShortDateString()</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>SELIC + @contratacao.rentabilidade_fixa%</B></li></div>
                                            </div>
                                            <div id="hideAll">
                                                <form>
                                                <div class="mb-4 mx-5">
                                                    <label for="exampleInputEmail1" class="form-label text-dark" 
                                                    style="letter-spacing: 0.05rem;"><b>Valor (R$)</b></label>
                                                    <input type="number" class="form-control" @bind="investido">
                                                </div>
                                                <a href="/contratacao">
                                                    <button type="submit" @onclick="Ocultar" class="btn btn-outline-secondary mb-3">Simular</button>
                                                </a>
                                                </form>
                                            </div>
                                            <div id="desocultarAll" style="display: none;">
                                                <hr class="mx-5 text-dark">
                                                <div class="d-flex flex-column">
                                                    <label class="text-dark fw-bold p-1 my-2">Valor Investido: ⠀⠀R$ @investido</label> 
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Bruto: ⠀⠀R$ @result_bruto</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Imposto de Renda (IR): ⠀⠀R$ @IR</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Líquido: ⠀⠀R$ @liquido</label>
                                                </div>
                                                <button type="submit" @onclick="Desocultar" class="btn btn-outline-secondary mb-4 mt-2">RE-SIMULAR</button>
                                                <button @onclick="ContratarActionSync" type="submit" class="btn btn-outline-primary mb-4 mt-2 ms-4">CONTRATAR</button>
                                            </div> 
                                        </ul>
                                        break;
                                        
                                        case "IPCA":
                                        <ul style="list-style-type: none;">
                                            <div class="d-flex flex-row container-fluid my-3">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Investimento Minimo:⠀⠀⠀⠀</b></li></div>
                                                <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @contratacao.valor_minimo</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.vencimento.ToShortDateString()</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>IPCA + @contratacao.rentabilidade_fixa%</B></li></div>
                                            </div>
                                            <div id="hideAll">
                                                <form>
                                                <div class="mb-4 mx-5">
                                                    <label for="exampleInputEmail1" class="form-label text-dark" 
                                                    style="letter-spacing: 0.05rem;"><b>Valor (R$)</b></label>
                                                    <input type="number" class="form-control" @bind="investido">
                                                </div>
                                                <a href="/contratacao">
                                                    <button type="submit" @onclick="Ocultar" class="btn btn-outline-secondary mb-3">Contratar</button>
                                                </a>
                                                </form>
                                            </div>
                                            <div id="desocultarAll" style="display: none;">
                                                <hr class="mx-5 text-dark">
                                                <div class="d-flex flex-column">
                                                    <label class="text-dark fw-bold p-1 my-2">Valor Investido: ⠀⠀R$ @investido</label> 
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Bruto: ⠀⠀R$ @result_bruto</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Imposto de Renda (IR): ⠀⠀R$ @IR</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Líquido: ⠀⠀R$ @liquido</label>
                                                </div>
                                                <button type="submit" @onclick="Desocultar" class="btn btn-outline-secondary mb-4 mt-2">RE-SIMULAR</button>
                                            </div>  
                                        </ul>
                                        break;

                                        default:
                                        <ul style="list-style-type: none;">
                                            <div class="d-flex flex-row container-fluid my-3">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Investimento Minimo:⠀⠀⠀⠀</b></li></div>
                                                <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @contratacao.valor_minimo</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.vencimento.ToShortDateString()</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.rentabilidade_fixa%</B></li></div>
                                            </div>
                                            <div id="hideAll">
                                                <form>
                                                <div class="mb-4 mx-5">
                                                    <label for="exampleInputEmail1" class="form-label text-dark" 
                                                    style="letter-spacing: 0.05rem;"><b>Valor (R$)</b></label>
                                                    <input type="number" class="form-control" @bind="investido">
                                                </div>
                                                <a href="/contratacao">
                                                    <button type="submit" @onclick="Ocultar" class="btn btn-outline-secondary mb-3">Contratar</button>
                                                </a>
                                                </form>
                                            </div>
                                            <div id="desocultarAll" style="display: none;">
                                                <hr class="mx-5 text-dark">
                                                <div class="d-flex flex-column">
                                                    <label class="text-dark fw-bold p-1 my-2">Valor Investido: ⠀⠀R$ @investido</label> 
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Bruto: ⠀⠀R$ @result_bruto</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Imposto de Renda (IR): ⠀⠀R$ @IR</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Líquido: ⠀⠀R$ @liquido</label>
                                                </div>
                                                <button type="submit" @onclick="Desocultar" class="btn btn-outline-secondary mb-4 mt-2">RE-SIMULAR</button>
                                            </div>  
                                        </ul>
                                        break;
                                    }
                                    break;
                                case 2:
                                    @switch (contratacao.tipo_investimento)
                                    {
                                        case "SELIC":
                                        <ul style="list-style-type: none;">
                                            <div class="d-flex flex-row container-fluid my-3">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Investimento Minimo:⠀⠀⠀⠀</b></li></div>
                                                <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @contratacao.valor_minimo</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.vencimento.ToShortDateString()</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>SELIC + @contratacao.rentabilidade_fixa%</B></li></div>
                                            </div>
                                            <div id="hideAll" class="">
                                                <form>
                                                <div id="hideAll">
                                                <form>
                                                <div class="mb-4 mx-5">
                                                    <label for="exampleInputEmail1" class="form-label text-dark" 
                                                    style="letter-spacing: 0.05rem;"><b>Valor (R$)</b></label>
                                                    <input type="number" class="form-control" @bind="investido">
                                                </div>
                                                <a href="/contratacao">
                                                    <button type="submit" @onclick="Ocultar" class="btn btn-outline-secondary mb-3">Contratar</button>
                                                </a>
                                                </form>
                                                </div>
                                                </form>
                                            </div>
                                            <div id="desocultarAll" style="display: none;">
                                                <hr class="mx-5 text-dark">
                                                <div class="d-flex flex-column">
                                                    <label class="text-dark fw-bold p-1 my-2">Valor Investido: ⠀⠀R$ @investido</label> 
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Bruto: ⠀⠀R$ @result_bruto</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Imposto de Renda (IR): ⠀⠀R$ @IR</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Líquido: ⠀⠀R$ @liquido</label>
                                                </div>
                                                <button type="submit" @onclick="Desocultar" class="btn btn-outline-secondary mb-4 mt-2">RE-SIMULAR</button>
                                            </div>  
                                        </ul>
                                        break;
                                        
                                        case "IPCA":
                                        <ul style="list-style-type: none;">
                                            <div class="d-flex flex-row container-fluid my-3">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Investimento Minimo:⠀⠀⠀⠀</b></li></div>
                                                <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @contratacao.valor_minimo</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.vencimento.ToShortDateString()</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>IPCA + @contratacao.rentabilidade_fixa%</B></li></div>
                                            </div>
                                            <div id="hideAll">
                                                <form>
                                                <div class="mb-4 mx-5">
                                                    <label for="exampleInputEmail1" class="form-label text-dark" 
                                                    style="letter-spacing: 0.05rem;"><b>Valor (R$)</b></label>
                                                    <input type="number" class="form-control" @bind="investido">
                                                </div>
                                                <a href="/contratacao">
                                                    <button type="submit" @onclick="Ocultar" class="btn btn-outline-secondary mb-3">Contratar</button>
                                                </a>
                                                </form>
                                            </div>
                                            <div id="desocultarAll" style="display: none;">
                                                <hr class="mx-5 text-dark">
                                                <div class="d-flex flex-column">
                                                    <label class="text-dark fw-bold p-1 my-2">Its Was Working R$ @investido</label>
                                                </div>
                                                <button type="submit" @onclick="Desocultar" class="btn btn-outline-secondary mb-4 mt-2">RE-SIMULAR</button>
                                            </div>  
                                        </ul>
                                        break;

                                        default:
                                        <ul style="list-style-type: none;">
                                            <div class="d-flex flex-row container-fluid my-3">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Investimento Minimo:⠀⠀⠀⠀</b></li></div>
                                                <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @contratacao.valor_minimo</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.vencimento.ToShortDateString()</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.rentabilidade_fixa%</B></li></div>
                                            </div>
                                            <div id="hideAll">
                                                <form>
                                                <div class="mb-4 mx-5">
                                                    <label for="exampleInputEmail1" class="form-label text-dark" 
                                                    style="letter-spacing: 0.05rem;"><b>Valor (R$)</b></label>
                                                    <input type="number" class="form-control" @bind="investido">
                                                </div>
                                                <a href="/contratacao">
                                                    <button type="submit" @onclick="Ocultar" class="btn btn-outline-secondary mb-3">Contratar</button>
                                                </a>
                                                </form>
                                            </div>
                                            <div id="desocultarAll" style="display: none;">
                                                <hr class="mx-5 text-dark">
                                                <div class="d-flex flex-column">
                                                    <label class="text-dark fw-bold p-1 my-2">Valor Investido: ⠀⠀R$ @investido</label> 
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Bruto: ⠀⠀R$ @result_bruto</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Imposto de Renda (IR): ⠀⠀R$ @IR</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Líquido: ⠀⠀R$ @liquido</label>
                                                </div>
                                                <button type="submit" @onclick="Desocultar" class="btn btn-outline-secondary mb-4 mt-2">RE-SIMULAR</button>
                                            </div>  
                                        </ul>
                                        break;
                                    }
                                    break;
                                case 3:
                                    @switch (contratacao.tipo_investimento)
                                    {
                                        case "SELIC":
                                        <ul style="list-style-type: none;">
                                            <div class="d-flex flex-row container-fluid my-3">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Investimento Minimo:⠀⠀⠀⠀</b></li></div>
                                                <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @contratacao.valor_minimo</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.vencimento.ToShortDateString()</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>SELIC + @contratacao.rentabilidade_fixa%</B></li></div>
                                            </div>
                                            <div id="hideAll">
                                                <form>
                                                <div class="mb-4 mx-5">
                                                    <label for="exampleInputEmail1" class="form-label text-dark" 
                                                    style="letter-spacing: 0.05rem;"><b>Valor (R$)</b></label>
                                                    <input type="number" class="form-control" @bind="investido">
                                                </div>
                                                <a href="/contratacao">
                                                    <button type="submit" @onclick="Ocultar" class="btn btn-outline-secondary mb-3">Contratar</button>
                                                </a>
                                                </form>
                                            </div>
                                            <div id="desocultarAll" style="display: none;">
                                                <hr class="mx-5 text-dark">
                                                <div class="d-flex flex-column">
                                                    <label class="text-dark fw-bold p-1 my-2">Valor Investido: ⠀⠀R$ @investido</label> 
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Bruto: ⠀⠀R$ @result_bruto</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Imposto de Renda (IR): ⠀⠀R$ @IR</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Líquido: ⠀⠀R$ @liquido</label>
                                                </div>
                                                <button type="submit" @onclick="Desocultar" class="btn btn-outline-secondary mb-4 mt-2">RE-SIMULAR</button>
                                            </div>  
                                        </ul>
                                        break;
                                        
                                        case "IPCA":
                                        <ul style="list-style-type: none;">
                                            <div class="d-flex flex-row container-fluid my-3">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Investimento Minimo:⠀⠀⠀⠀</b></li></div>
                                                <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @contratacao.valor_minimo</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.vencimento.ToShortDateString()</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>IPCA + @contratacao.rentabilidade_fixa%</B></li></div>
                                            </div>
                                            <div id="hideAll">
                                                <form>
                                                <div class="mb-4 mx-5">
                                                    <label for="exampleInputEmail1" class="form-label text-dark" 
                                                    style="letter-spacing: 0.05rem;"><b>Valor (R$)</b></label>
                                                    <input type="number" class="form-control" @bind="investido">
                                                </div>
                                                <a href="/contratacao">
                                                    <button type="submit" @onclick="Ocultar" class="btn btn-outline-secondary mb-3">Contratar</button>
                                                </a>
                                                </form>
                                            </div>
                                            <div id="desocultarAll" style="display: none;">
                                                <hr class="mx-5 text-dark">
                                                <div class="d-flex flex-column">
                                                    <label class="text-dark fw-bold p-1 my-2">Valor Investido: ⠀⠀R$ @investido</label> 
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Bruto: ⠀⠀R$ @result_bruto</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Imposto de Renda (IR): ⠀⠀R$ @IR</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Líquido: ⠀⠀R$ @liquido</label>
                                                </div>
                                                <button type="submit" @onclick="Desocultar" class="btn btn-outline-secondary mb-4 mt-2">RE-SIMULAR</button>
                                            </div>  
                                        </ul>
                                        break;

                                        default:
                                        <ul style="list-style-type: none;">
                                            <div class="d-flex flex-row container-fluid my-3">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Investimento Minimo:⠀⠀⠀⠀</b></li></div>
                                                <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @contratacao.valor_minimo</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.vencimento.ToShortDateString()</B></li></div>
                                            </div>
                                            <div class="d-flex flex-row container-fluid my-4">
                                                <div><li class="list-group-item mt-2 ms-5 text-dark" style="font-size: Large; text-align: left; letter-spacing: 0.1rem;"><b>Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀⠀</b></li></div>
                                                <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@contratacao.rentabilidade_fixa%</B></li></div>
                                            </div>
                                            <div id="hideAll">
                                                <form>
                                                <div class="mb-4 mx-5">
                                                    <label for="exampleInputEmail1" class="form-label text-dark" 
                                                    style="letter-spacing: 0.05rem;"><b>Valor (R$)</b></label>
                                                    <input type="number" class="form-control" @bind="investido">
                                                </div>
                                                <a href="/contratacao">
                                                    <button type="submit" @onclick="Ocultar" class="btn btn-outline-secondary mb-3">Contratar</button>
                                                </a>
                                                </form>
                                            </div>
                                            <div id="desocultarAll" style="display: none;">
                                                <hr class="mx-5 text-dark">
                                                <div class="d-flex flex-column">
                                                    <label class="text-dark fw-bold p-1 my-2">Valor Investido: ⠀⠀R$ @investido</label> 
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Bruto: ⠀⠀R$ @result_bruto</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Imposto de Renda (IR): ⠀⠀R$ @IR</label>
                                                    <label class="text-dark fw-bold p-1 my-3">Retorno Líquido: ⠀⠀R$ @liquido</label>
                                                </div>
                                                <button type="submit" @onclick="Desocultar" class="btn btn-outline-secondary mb-4 mt-2">RE-SIMULAR</button>
                                            </div>  
                                        </ul>
                                        break;
                                    }
                                    break;
                            }
                        
                    </div>
                    <div>
                           <Chart Config="_lineConfig"></Chart>
                    </div>
            
    </div>

<Footer></Footer>

@code {
    public Investimento contratacao = new Investimento {nome = "Falha ao encontrar investimentos."};

    private double investido {get; set;}
    private double result_bruto {get;set;}
    private double IR { get;set;}
    private double liquido { get;set;}
    private bool userlogado {get;set;} = false;

    private void ContratarActionSync() {
        try {
            ContratarAction().RunSynchronously();
        } catch (Exception) {

        }
    }

    private async Task ContratarAction() {
        var app_token = await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.app_token.ToString());

        if(app_token == String.Empty || app_token == "" || app_token == null) {
            NavigationManager.NavigateTo("/login");
            return;
        }
        await JSInterop.InvokeVoidAsync("ocultarelemento","btnCONTRATAR");
    }

    public void calcbruto(double investido) {
        double rentabilidadeTotal = (Convert.ToDouble(contratacao.rentabilidade_fixa) + Convert.ToDouble(contratacao.rentabilidade_variavel)) / 360;
        TimeSpan calcdiasDoInv = contratacao.vencimento - DateTime.Today;
        var totalDias = calcdiasDoInv.Days;
        double lucro =((investido * Convert.ToDouble(rentabilidadeTotal) * totalDias) / 100);
        double totalBruto = lucro + investido;
        result_bruto = Math.Round(totalBruto);
        IR = Math.Round(lucro * 0.15);
        liquido = Math.Round(result_bruto -investido - IR);
    }

    public async Task ocultarelemento() {
        await JSInterop.InvokeVoidAsync("ocultarelemento", "hideAll");
        await JSInterop.InvokeVoidAsync("desocultarelemento", "desocultarAll");
    }

    protected override async Task OnInitializedAsync()
    {
        contratacao = await APIHandler.FetchOrFallbackAsync<Investimento>(
            $"/investimento/{SimulacaoID.id_selecionado}", 
            new Investimento {nome = "Falha ao encontrar investimentos."});
    }

    private void Ocultar() {
        if (@investido < Convert.ToDouble(@contratacao.valor_minimo)) {
            Toast.ShowError("O valor inserido é inferior ao valor mínimo do investimento");
        } else {
            calcbruto(investido);
            try {
                ocultarelemento().RunSynchronously();
            } catch (Exception e) when (e is ObjectDisposedException || e is InvalidOperationException)
            { }
        }
    }

    private async Task desocultarasync () {
        await JSInterop.InvokeVoidAsync("desocultarelemento","hideAll");
        await JSInterop.InvokeVoidAsync("ocultarelemento","desocultarAll");
    }
    private void Desocultar() {
        try {
            desocultarasync().RunSynchronously();
        } catch (Exception e) when (e is ObjectDisposedException || e is InvalidOperationException)
        { }
    }

    private LineConfig _lineConfig;
    protected override void OnInitialized()
    {
        ConfigureLine();
    }

    private void ConfigureLine()
    {
        _lineConfig = new LineConfig();
        _lineConfig.Options = new LineOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Title of my chart"
                }
            };
        foreach(var party in new[] {"party1","party2","party3" })
        {
            _lineConfig.Data.Labels.Add(party);
        }
        var dataset = new LineDataset<int>(new[] { 35, 50, 15 })
        {
             BackgroundColor = string.Join(",",new[]
             {
                ColorUtil.ColorHexString(255, 0, 0),
                ColorUtil.ColorHexString(0, 255, 0),
                ColorUtil.ColorHexString(0, 0, 255)
             })
        };

        _lineConfig.Data.Datasets.Add(dataset); 
    }


}
