@page "/investimentos-disponiveis"
@using PRIORI_SERVICES_WEB.Data.Model;
@using PRIORI_SERVICES_WEB.Data.API;

<style>
    html, body {
        background-image: linear-gradient(75deg, rgb(211, 35, 218), rgb(114, 0, 167));
    }
    .margemInv {
        margin-left: 4rem;
    }
</style>

<NavMenu nav_classes="sticky-top" />

<div class="margemInv">
    <style>
        .centralizar {
            text-align: center;
        }
        .margin-tabela {
            margin-left: 10rem;
            padding-bottom: 1rem;
            width: auto;
        }
        .margin-header-tabela {
            letter-spacing: 1.5px;
            width: auto;
            margin-top: 0.5rem;
        }
    </style>
</div>

<div class="my-5 row row-cols-1 margin-tabela">

            <div class="d-flex flex-column bg-white text-dark margin-header-tabela">

                <div class="d-flex flex-row bg-white text-dark margin-header-tabela">

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Nome do Título</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">@investimento.nome</li>
                            </ul>
                        </div>
                        }
                    </div>

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Emissor</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">@investimento.id_investimento</li>
                            </ul>
                        </div>
                        }
                    </div>

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Rentabilidade</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">@investimento.rentabilidade_fixa</li>
                            </ul>
                        </div>
                        }
                    </div>

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Data de Resgate</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">@investimento.vencimento</li>
                            </ul>
                        </div>
                        }
                    </div>

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Investimento Mínimo</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">R$: @investimento.valor_minimo</li>
                            </ul>
                        </div>
                        }
                    </div>

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Contratação</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">
                                    <a href="/login" class="text-center btn btn-outline-info py-0">CONTRATE</a>
                                </li>
                            </ul>
                        </div>
                        }
                    </div>

                </div>

            </div>
</div>
            @*
            @foreach (Investimento investimento in invDisponiveis)
            {
                <ul class="list-group" style="list-style-type: none;">
                    <li class="list-group-item margin-header-tabela">@investimento.nome⠀
                        @investimento.id_investimento</li>
                </ul>
            } *@

<Footer></Footer>


@code {
    public Investimento[] invDisponiveis = new Investimento[0];

    protected override async Task OnInitializedAsync()
    {
        invDisponiveis = await APIHandler.FetchOrFallbackAsync<Investimento[]>("api/investimento", new Investimento[] {
           new Investimento {
            nome = "Falha ao encontrar investimentos."
           } 
        });
    }
}