@page "/investimentos-efetuados"
@inject IJSRuntime JSInterop
@using PRIORI_SERVICES_WEB.Handler
@using System.Net.Http.Headers
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<style>
    html,
    body {
        
    }
</style>

<NavMenu nav_classes="sticky-top" />

<div class="container">
    @if (invEfetuados == null)
    {
        <div class="container d-flex flex-row">
            <div class="container">&ensp;</div>
            <div class="container-fluid">
                <h1>Carregando, um momento por favor...</h1>
                <button class="btn btn-primary" @onclick="@(() => Console.WriteLine(invEfetuados!.ToString()))">
                    Clique aqui se demorar para carregar!
                </button>
            </div>
            <div class="container">&ensp;</div>
        </div>

    }
    else
    {
        @foreach (var investimento_efetuado in invEfetuados!)
        {
            <div class="my-5 row row-cols-3 container-fluid text-center">
                <div class="card p-2 m-1 bg-white text-dark">
                    <div class="card-header">
                        <h2>@(investimento_efetuado.id_investimento) NOME DO INVESTIMENTO AQUI</h2> @*nome investimento c/ inner*@
                    </div>
                    <div class="card-body">
                        <ul class="list-group" style="list-style-type: none;">
                            <li class="list-group-item">Data de contratação: @investimento_efetuado.data_efetuacao</li>
                            <li class="list-group-item">Valor aplicado: R$ @investimento_efetuado.valor_aplicado</li>
                            <li class="list-group-item">Rentabilidade (a.a.): @(investimento_efetuado.rentabilidade_fixa + investimento_efetuado.rentabilidade_variavel)</li>
                
                            <li class="list-group-item">Data de Resgate: @investimento_efetuado.data_encerramento</li>
                            <li class="list-group-item">Status do Investimento: @investimento_efetuado.status</li>
                        </ul>
                    </div>
                </div>
            </div>

        }
    }

</div>

<Footer />


@code {
    public CarteiraInvestimento[]? invEfetuados = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;


        string user_id = (await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.user_id.ToString()));
        string app_token = (await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.app_token.ToString()));

        APIHandler.static_client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", app_token);

        invEfetuados = await
        APIHandler.FetchAbstractJsonObjectAsync<CarteiraInvestimento[]?>($"/CarteiraInvestimento/ByUserID/{user_id}");

        APIHandler.static_client.DefaultRequestHeaders.Authorization = null;
    }
}
