@page "/perfil-usuario"
@using PRIORI_SERVICES_WEB.Handler
@using System.Net.Http.Headers
@inject IToastService Toast
@inject IJSRuntime JSInterop
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject Blazored.LocalStorage.ISyncLocalStorageService SyncLocalStorage
@inject NavigationManager NavigationManager

<style>
    html, body {
        @(BackgroundGradients.BackgroundPrincipal);        
    }
</style>

<NavMenu nav_classes="sticky-top" />

<div class="d-flex flex-row flex-wrap flex-lg-nowrap text-center">
    @if (clienteuser == null)
    {
        <div class="container d-flex flex-row">
            <div class="container">&ensp;</div>
            <div class="container-fluid">
                <button class="btn btn-primary" @onclick="@(() => Console.WriteLine(clienteuser!.ToString()))">
                    Clique aqui se demorar para carregar!
                </button>
            </div>
            <div class="container">&ensp;</div>
        </div>
    }
    else
    {
        <div class="container flex-grow-1 my-3">
            <div class="d-flex flex-row flex-wrap flex-wrap flex-lg-nowrap ">
                <div class="container text-right card rounded-5 m-3">
                    <i class="bi bi-person-circle" style="font-size: 10rem;"></i>
                    <p class="fs-3">@(clienteuser.nome)</p>
                    <p class="fs-3">@(clienteuser.cpf)</p>
                    <p class="fs-3">@(clienteuser.dataNascimento)</p>
                    <p class="fs-3">@(clienteuser.endereco)</p>
                    <p class="fs-3">Você tem @(clienteuser.pontuacao) pontos.</p>
                    @if (clienteuser.status != "ATIVO") {
                        <p class="fs-5 text-wrap">
                            Para reativar seu cadastro entre em <a href="contato" class="text-decoration-none">contato</a> com a <i>Priori</i>
                        </p>
                    }
                </div>
                <div class="container d-flex flex-column align-items-center justify-items-center" id="navbarActions">
                    <div>&ensp;</div>
                    <div>
                        <a href="/investimentos-efetuados" class="btn container-fluid btn-outline-light p-4 fs-4">
                            INVESTIMENTOS EFETUADOS
                        </a>
                        <button class="btn container-fluid btn-outline-light p-4 fs-4">
                            ALTERAR DADOS
                        </button>
                        <button @onclick="UserSairSync" class="btn container-fluid btn-outline-light p-4 fs-4">
                            SAIR
                        </button>
                    </div>
                    <div>&ensp;</div>
                </div>
            </div>

                    
        </div>
        <div id="areaAlteracao" style="display: none;" class="container tab-pane" role="tabpanel" aria-labelledby="tab-register">
            <div class="form-outline mb-4">
                <label class="form-label fonteInfo" for="registrarEmail">E-mail</label>
                <input type="email" class="form-control" required placeholder="@clienteuser.email"/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label fonteInfo" for="registerPassword">Senha</label>
                <input type="password" class="form-control" required />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label fonteInfo" for="registerRepeatPassword">Confirme sua senha</label>
                <input type="password" class="form-control" required />
            </div>
            <button formaction="post" class="text-center btn btn-outline-light px-4 py-2 fs-5 ">
                ALTERAR DADOS
            </button>
            <i class="mt-3">Deseja alterar outros dados? Entre em <a href="/contato" class="text-primary" style="text-decoration: none;">contato</a> com a Priori</i>
            @* 
            SELECT saldo FROM tblCarteiraInvestimentos
	        WHERE data_efetuacao IN (
		    SELECT MAX(data_efetuacao) FROM tblCarteiraInvestimentos
		    GROUP BY id_cliente_carteira)
            *@
        </div>
    }
</div>

@code {
    private Cliente? clienteuser {get;set;}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;


        string? user_id = (await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.user_id.ToString()));
        string? app_token = (await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.app_token.ToString()));

        if(app_token == String.Empty || app_token == null || app_token == "")
            NavigationManager.NavigateTo("/");
        
        Toast.ShowInfo("Carregando...");
        
        APIHandler.static_client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", app_token);

        clienteuser = await
        APIHandler.FetchAbstractJsonObjectAsync<Cliente?>($"/Auth/Cliente/Info/{user_id}");

        APIHandler.static_client.DefaultRequestHeaders.Authorization = null;

        Console.WriteLine(clienteuser!.id_cliente);

        Toast.ShowSuccess("Carregamento finalizado!");
    }

    private void UserSairSync() {
        try {
            UserSair().RunSynchronously();
        } catch (Exception) {

        }
    }

    private async Task UserSair() {
        await LocalStorage.SetItemAsStringAsync(LocalStorageKeys.app_token.ToString(), "");
        await LocalStorage.SetItemAsStringAsync(LocalStorageKeys.user_id.ToString(), "");
        NavigationManager.NavigateTo("/");
    }


    private void AlterarClienteSync() {
        try {
            AlterarCliente().RunSynchronously();
        } catch (Exception) {

        }
    }

    private async Task AlterarCliente() {

    }
}