@page "/perfil-usuario"
@using PRIORI_SERVICES_WEB.Handler
@using System.Net.Http.Headers
@inject IToastService Toast
@inject IJSRuntime JSInterop
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject Blazored.LocalStorage.ISyncLocalStorageService SyncLocalStorage
@inject NavigationManager NavigationManager

<style>
    html,
    body {
    @(BackgroundGradients.BackgroundPrincipal);
    }
</style>

<NavMenu nav_classes="sticky-top" />

<div class="d-flex flex-row flex-wrap flex-lg-nowrap text-center">
    @if (clienteuser == null)
    {
        <div class="container d-flex flex-row">
            <div class="container">&ensp;</div>
            <div class="container-fluid">
                <button class="btn btn-primary" @onclick="@(() => Console.WriteLine(clienteuser!.ToString()))">
                    Clique aqui se demorar para carregar!
                </button>
            </div>
            <div class="container">&ensp;</div>
        </div>
    }
    else
    {
        <section style="background-color: #eee;" class="container-fluid bg-transparent">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <i class="bi bi-person-circle text-dark" style="font-size: 7rem;"></i>
                                <h5 class="my-3">@(clienteuser.nome)</h5>
                                <div class="d-flex flex-column justify-content-center mb-2">
                                    <a href="/investimentos-efetuados" class="my-1 btn btn-primary">Meus Investimentos</a>
                                    <button @onclick="@(() => Modal_Alteracao.Show<AlteracaoDeDados>("Alteração de Dados"))"
                                        type="button" class="my-1 btn btn-primary">Alteração de Dados</button>
                                    <button type="button" class="my-1 btn btn-outline-primary">Sair</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body text-dark">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Nome Completo</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="mb-0">@(clienteuser.nome)</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="mb-0">@(clienteuser.email)</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">CPF</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="mb-0">@(clienteuser.cpf)</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Endereço</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="mb-0">@(clienteuser.endereco)</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Data de Adesão</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@(clienteuser.data_adesao)</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Sua Pontuação</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@(clienteuser.pontuacao) pontos</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Data de Nascimento</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@(clienteuser.dataNascimento)</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Tipo de Investidor</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@(clienteuser.GetTipoInvestidorFromID())</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</div>

@code {
    private Cliente? clienteuser { get; set; }
    [CascadingParameter]
    public IModalService Modal_Alteracao { get; set; } = default!;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;


        string? user_id = (await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.user_id.ToString()));
        string? app_token = (await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.app_token.ToString()));

        if (app_token == String.Empty || app_token == null || app_token == "")
            NavigationManager.NavigateTo("/");

        Toast.ShowInfo("Carregando...");

        APIHandler.static_client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", app_token);

        clienteuser = await
        APIHandler.FetchAbstractJsonObjectAsync<Cliente?>($"/Auth/Cliente/Info/{user_id}");

        APIHandler.static_client.DefaultRequestHeaders.Authorization = null;

        Console.WriteLine(clienteuser!.id_cliente);

        Toast.ShowSuccess("Carregamento finalizado!");
    }

    private void UserSairSync()
    {
        try
        {
            UserSair().RunSynchronously();
        }
        catch (Exception)
        {

        }
    }

    private async Task UserSair()
    {
        await LocalStorage.SetItemAsStringAsync(LocalStorageKeys.app_token.ToString(), "");
        await LocalStorage.SetItemAsStringAsync(LocalStorageKeys.user_id.ToString(), "");
        NavigationManager.NavigateTo("/");
    }
}
