@page "/simulador"

@using PRIORI_SERVICES_WEB.Data.Model;
@using PRIORI_SERVICES_WEB.Data.API;

<style>
    html,
    body {
        background-image: linear-gradient(75deg, rgb(211, 35, 218), rgb(114, 0, 167));
    }

    .margemInv {
        margin-left: 4rem;
    }

    .risco {
        margin-right: 1rem;
        width: 0.65rem;
        border-radius: 1rem;
    }
</style>

<NavMenu nav_classes="sticky-top" />

<div class="d-flex flex-row align-items-center mt-">
    <div class="container-fluid">&ensp;</div>
    <div class="d-flex flex-row container-fluid text-center bg-white rounded-4 p-2 mt-4" style="width: fit-content; text-align: center;">
         
        <div class="bg-success mx-3 p-2 mt-2  rounded-4 my-2"></div>
        <p class="fonte-titulo fs-7 text-dark mt-3" style="margin-right: 1rem;">Baixo risco</p>

        <div class="bg-warning mx-3 p-2 mt-2  rounded-4 my-2"></div>
        <p class="fonte-titulo fs-7 text-dark mt-3" style="margin-right: 1rem;">Médio risco</p>

        <div class="bg-danger mx-3 p-2 mt-2  rounded-4 my-2"></div>
        <p class="fonte-titulo fs-7 text-dark mt-3" style="margin-right: 1rem;">Alto risco</p>
        
    </div>
    <div class="container-fluid">&ensp;</div>
</div>

<div class="margemInv">
    <div class="my-3 row row-cols-4 container-fluid text-center">
        @foreach (Investimento investimento in invDisponiveis)
        {
            <div class="card p-2 m-5 bg-white text-dark">
                <div class="card-header d-flex flex-row bd-highlight">
                     @switch (investimento.id_riscoInvestimento)
                        {
                            case 1:
                                <div class="bg-success risco">
                                    &ensp;
                                </div>
                                break;
                            case 2:
                                <div class="bg-warning risco">
                                    &ensp;
                                </div>
                                break;
                            case 3:
                                <div class="bg-danger risco">
                                    &ensp;
                                </div>
                                break;
                        }
                    
                    <div class="bd-highlight">
                        <h4 class="p-1" style="text-align: center;">@investimento.nome</h4>
                    </div>
                </div>

                <div class="card-body shadow-lg">
                    @switch (investimento.id_riscoInvestimento)
                        {
                            case 1:
                                @switch (investimento.tipo_investimento)
                                {
                                    case "SELIC":
                                    <ul style="list-style-type: none;  margin-left: -1.7rem;">
                                        <div class="d-flex flex-row container-fluid my-3">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Investimento Minimo:⠀⠀⠀⠀</li></div>
                                            <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @investimento.valor_minimo</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.vencimento.ToShortDateString()</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-4" style="font-size: Large; text-align: left;">Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>SELIC + @investimento.rentabilidade_fixa%</B></li></div>
                                        </div>
                                        <br>
                                        <a href="/PosSimulacao">
                                        <button type="button" class="btn btn-outline-secondary" @onclick="() => {idSelecionado(investimento.id_investimento); }">Simule</button>
                                        </a>
                                    </ul>
                                    break;
                                    
                                    case "IPCA":
                                    <ul style="list-style-type: none;  margin-left: -1.7rem;">
                                        <div class="d-flex flex-row container-fluid my-3">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Investimento Minimo:⠀⠀⠀⠀</li></div>
                                            <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @investimento.valor_minimo</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.vencimento.ToShortDateString()</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-4" style="font-size: Large; text-align: left;">Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>IPCA + @investimento.rentabilidade_fixa%</B></li></div>
                                        </div>
                                        <br>
                                        <a href="/PosSimulacao">
                                        <button type="button" class="btn btn-outline-secondary" @onclick="() => {idSelecionado(investimento.id_investimento); }">Simule</button>
                                        </a>
                                    </ul>
                                    break;

                                    default:
                                    <ul style="list-style-type: none;  margin-left: -1.7rem;">
                                        <div class="d-flex flex-row container-fluid my-3">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Investimento Minimo:⠀⠀⠀⠀</li></div>
                                            <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @investimento.valor_minimo</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.vencimento.ToShortDateString()</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-success rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.rentabilidade_fixa%</B></li></div>
                                        </div>
                                        <br>
                                        <a href="/PosSimulacao">
                                        <button type="button" class="btn btn-outline-secondary" @onclick="() => {idSelecionado(investimento.id_investimento); }">Simule</button>
                                        </a>
                                    </ul>
                                    break;
                                }
                                break;
                            case 2:
                                @switch (investimento.tipo_investimento)
                                {
                                    case "SELIC":
                                    <ul style="list-style-type: none;  margin-left: -1.7rem;">
                                        <div class="d-flex flex-row container-fluid my-3">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Investimento Minimo:⠀⠀⠀⠀</li></div>
                                            <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @investimento.valor_minimo</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.vencimento.ToShortDateString()</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-4" style="font-size: Large; text-align: left;">Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>SELIC + @investimento.rentabilidade_fixa%</B></li></div>
                                        </div>
                                        <br>
                                        <a href="/PosSimulacao">
                                        <button type="button" class="btn btn-outline-secondary" @onclick="() => {idSelecionado(investimento.id_investimento); }">Simule</button>
                                        </a>
                                    </ul>
                                    break;
                                    
                                    case "IPCA":
                                    <ul style="list-style-type: none;  margin-left: -1.7rem;">
                                        <div class="d-flex flex-row container-fluid my-3">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Investimento Minimo:⠀⠀⠀⠀</li></div>
                                            <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @investimento.valor_minimo</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.vencimento.ToShortDateString()</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-4" style="font-size: Large; text-align: left;">Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>IPCA + @investimento.rentabilidade_fixa%</B></li></div>
                                        </div>
                                        <br>
                                        <a href="/PosSimulacao">
                                        <button type="button" class="btn btn-outline-secondary" @onclick="() => {idSelecionado(investimento.id_investimento); }">Simule</button>
                                        </a>
                                    </ul>
                                    break;

                                    default:
                                    <ul style="list-style-type: none;  margin-left: -1.7rem;">
                                        <div class="d-flex flex-row container-fluid my-3">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Investimento Minimo:⠀⠀⠀⠀</li></div>
                                            <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @investimento.valor_minimo</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.vencimento.ToShortDateString()</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-warning rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.rentabilidade_fixa%</B></li></div>
                                        </div>
                                        <br>
                                        <a href="/PosSimulacao">
                                        <button type="button" class="btn btn-outline-secondary" @onclick="() => {idSelecionado(investimento.id_investimento); }">Simule</button>
                                        </a>
                                    </ul>
                                    break;
                                }
                                break;
                            case 3:
                                @switch (investimento.tipo_investimento)
                                {
                                    case "SELIC":
                                    <ul style="list-style-type: none;  margin-left: -1.7rem;">
                                        <div class="d-flex flex-row container-fluid my-3">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Investimento Minimo:⠀⠀⠀⠀</li></div>
                                            <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @investimento.valor_minimo</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.vencimento.ToShortDateString()</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-4" style="font-size: Large; text-align: left;">Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>SELIC + @investimento.rentabilidade_fixa%</B></li></div>
                                        </div>
                                        <br>
                                        <a href="/PosSimulacao">
                                        <button type="button" class="btn btn-outline-secondary" @onclick="() => {idSelecionado(investimento.id_investimento); }">Simule</button>
                                        </a>
                                    </ul>
                                    break;
                                    
                                    case "IPCA":
                                    <ul style="list-style-type: none;  margin-left: -1.7rem;">
                                        <div class="d-flex flex-row container-fluid my-3">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Investimento Minimo:⠀⠀⠀⠀</li></div>
                                            <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @investimento.valor_minimo</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.vencimento.ToShortDateString()</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-4" style="font-size: Large; text-align: left;">Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>IPCA + @investimento.rentabilidade_fixa%</B></li></div>
                                        </div>
                                        <br>
                                        <a href="/PosSimulacao">
                                        <button type="button" class="btn btn-outline-secondary" @onclick="() => {idSelecionado(investimento.id_investimento); }">Simule</button>
                                        </a>
                                    </ul>
                                    break;

                                    default:
                                    <ul style="list-style-type: none;  margin-left: -1.7rem;">
                                        <div class="d-flex flex-row container-fluid my-3">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Investimento Minimo:⠀⠀⠀⠀</li></div>
                                            <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>R$ @investimento.valor_minimo</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Vencimento:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.vencimento.ToShortDateString()</B></li></div>
                                        </div>
                                        <div class="d-flex flex-row container-fluid my-4">
                                            <div><li class="list-group-item mt-2" style="font-size: Large; text-align: left;">Rentabilidade:⠀⠀⠀⠀⠀⠀⠀⠀</li></div>
                                            <div class="text-danger rounded-4 p-2" style="background-color: #f4f5f5; text-align: right;"><li><b>@investimento.rentabilidade_fixa%</B></li></div>
                                        </div>
                                        <br>
                                        <a href="/PosSimulacao">
                                        <button type="button" class="btn btn-outline-secondary" @onclick="() => {idSelecionado(investimento.id_investimento); }">Simule</button>
                                        </a>
                                    </ul>
                                    break;
                                }
                                break;
                        }
                    
                </div>

            </div>
        }
    </div>
</div>

<Footer></Footer>


@code {
    public Investimento[] invDisponiveis = new Investimento[0];

    public void idSelecionado(int id_investimento) {
        SimulacaoID.id_selecionado = id_investimento;
    }

    protected override async Task OnInitializedAsync()
    {
        invDisponiveis = await APIHandler.FetchOrFallbackAsync<Investimento[]>("/investimento", new Investimento[] {
new Investimento {
nome = "Falha ao encontrar investimentos."
}
});
    }
}
