@using PRIORI_SERVICES_WEB.Data.Model

<div class="container-fluid">
    <div class="accordion accordion-flush" id="@AccordionRoot">
        @if (Faqs != null)
        {
            @foreach (var Faq in Faqs)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header bg-dark" id=@Faq.HeadingId>
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#@Faq.UniqueId" aria-expanded="true" aria-controls="@Faq.UniqueId">
                            @Faq.Header
                        </button>
                    </h2>
                    <div id=@Faq.UniqueId class="bg-dark accordion-collapse collapse" aria-labelledby="@Faq.HeadingId"
                        data-bs-parent="#@AccordionRoot">
                        <div class="accordion-body text-light">
                            <p>@Faq.Body</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    private String AccordionRoot = $"AccordionRoot-[{Guid.NewGuid()}]";

    [Parameter]
    public HashSet<FaqItem>? Faqs { get; set; }
}
