@inject IJSRuntime JSInterop
@inject NavigationManager NavigationManager
@using PRIORI_SERVICES_WEB.Data.Types

<style>
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #ffffff;
    }

    .hover-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .fonte-nav-lista {
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .fonte-titulo {
        font-family: "Poppins", sans-serif;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    #navbarMain {
        transition: top 0.1s;
    }

    #navbarPrioriLogo {
        transition: all 0.4s;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark @nav_classes"
    style="@(BackgroundGradients.BackgroundPrincipal); @nav_style" id="navbarMain">
    <div class="container-fluid d-flex flex-column">
        <NavLink href="/" class="navbar-brand text-white text-wrap-sm fonte-titulo fs-3"
            style="font-family: Poppins, sans-serif; text-decoration: none">
            <img src="assets/Logo_Priori_Services.png" alt="Logo Priori Services" class="navbar-brand img-fluid"
                width="50px" height="50px" />
            PRIORI
            SERVICES
        </NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto fonte-nav-lista mx-2">
                @foreach (KeyValuePair<string, string> route in paginas_sistema)
                {
                    <li class="nav-item me-3 hover-underline-animation">
                        <NavLink href="@route.Key" class="nav-link text-white">
                            @route.Value
                        </NavLink>
                    </li>
                }
                <li @onclick="AreaRedirect" class="text-center nav-item hover-underline-animation">
                    <NavLink href="#" class="nav-link text-white">
                        Área do Usuário
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

    private Dictionary<string, string> paginas_sistema =
    new Dictionary<string, string> {
{"/blog","Blog"},
{"/simulador","Investimentos"},
{"/contato","Contato"}
        };

    public async Task AreaRedirect()
    {
        var app_key = await JSInterop.InvokeAsync<string?>(
        "localStorage.getItem",
        LocalStorageKeys.app_token.ToString()
        );

        NavigationManager.NavigateTo(
        (app_key == String.Empty || app_key == "" || app_key == null)
        ? "/login"
        : "/areausuario"
        );
    }

    [Parameter]
    public string nav_classes { get; set; } = "";

    [Parameter]
    public string nav_style { get; set; } = "";
}
