@inject IJSRuntime JSInterop
@inject NavigationManager NavigationManager
@using PRIORI_SERVICES_WEB.Data.Types

<style>
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #ffffff;
    }

    .hover-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .fonte-nav-lista {
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .fonte-titulo {
        font-family: "Poppins", sans-serif;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
</style>

<nav class="navbar navbar-expand-lg text-white bg-dark d-flex flex-row @nav_classes"
    style="@(BackgroundGradients.BackgroundPrincipal); @nav_style">
    <div class="container-fluid text-nowrap text-decoration-none text-white m-1-15">
        <NavLink href="/" class="text-white text-wrap-sm fonte-titulo fs-3"
            style="font-family: Poppins, sans-serif; text-decoration: none">
            <img src="assets/Logo_Priori_Services.png" alt="Logo Priori Services" class="navbar-brand img-fluid"
                width="65em" height="60em" />
            PRIORI
            SERVICES
        </NavLink>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div id="navbarMain" class="d-flex flex-column flex-lg-row p-3 collapse navbar-collapse text-nowrap px-3">
        <ul class="navbar-nav fonte-nav-lista">
            @foreach (KeyValuePair<string, string> route in paginas_sistema)
            {
                <li class="nav-item me-3 hover-underline-animation">
                    <NavLink href="@route.Key" class="nav-link text-white">
                        @route.Value
                    </NavLink>
                </li>
            }
        </ul>
        <button @onclick="AreaRedirect" class="text-center btn btn-outline-light px-3 py-2 fs-5">
            <i class="bi bi-lock"></i>
            Área do Usuário
        </button>
    </div>
</nav>

@code {

    private Dictionary<string, string> paginas_sistema =
    new Dictionary<string, string> {
{"/blog","Blog"},
{"/simulador","Investimentos"},
{"/contato","Contato"}
        };

    public async Task AreaRedirect()
    {
        var app_key = await JSInterop.InvokeAsync<string?>(
        "localStorage.getItem",
        LocalStorageKeys.app_token.ToString()
        );

        NavigationManager.NavigateTo(
        (app_key == String.Empty || app_key == "" || app_key == null)
        ? "/login"
        : "/areausuario"
        );
    }

    [Parameter]
    public string nav_classes { get; set; } = "";

    [Parameter]
    public string nav_style { get; set; } = "";
}
